<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ember Starter Kit</title>

    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/bootstrap-responsive.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

    <script type="text/x-handlebars" id="application">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <img src="http://dummyimage.com/150x150/000/fff.png&text=FAJ" />
                    <hr />
                    {{view App.AuthView}}
                </div>
                <div class="span9">
                    {{outlet}}
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" id="auth">
        {{#if App.Auth.signedIn}}
            {{view App.AuthSignOutView}}
        {{else}}
            {{view App.AuthSignInView}}
        {{/if}}
    </script>

    <script type="text/x-handlebars" id="signin">
        <form>
            <label>Email</label>
            {{view Ember.TextField valueBinding="view.email"}}
            <label>Password</label>
            {{view Ember.TextField type='password' valueBinding="view.password"}}
            {{view Ember.Checkbox checkedBinding="view.remember"}}
            <label>Remember me?</label>
            <hr />
            <button type="submit">Sign In</button>
        </form>
    </script>

    <script type="text/x-handlebars" id="signout">
        <form>
            <button type="submit">Sign out</button>
        </form>
    </script>


    <script src="components/jquery/jquery.js"></script>
    <script src="components/handlebars/handlebars.js"></script>
    <script src="components/ember/ember.js"></script>
    <script src="components/ember-data/ember-data-latest.js"></script>
    <script src="components/ember-auth/ember-auth.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/models/user.js"></script>
    <script src="scripts/views/auth.js"></script>

</body>
</html>
